.category_menu{
  
}
.category_submenu{
    border: 1px solid blue;
    position: absolute;
    border-radius: 3px;
    min-width: 170px;
    min-height: 120px;
    background: #ffffffd9;
    z-index: 5;
    opacity: 0;
    transition: all 0.4s ease;
    top: 0;
    border-radius: 3px;
    left: 250px;

}

.category_menu >ul >li:hover .category_submenu{
   opacity: 1;
}
.category_menu >ul >li ul li {
    margin-left: 1em;
    transition: all 0.3s ease;
    color: black;
}
.category_menu >ul >li ul li{
    transition: all 0.3s ease;
    color: black;
}
.category_menu >ul >li ul li:hover {
  color: rgba(4, 4, 133, 0.438);
  margin-left: 2em;
 }
.category_menu >ul{
    margin: 1em 1em;
    letter-spacing: 1px;
    font-style: oblique;
}
.header_cat_menu{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 2em;
    background:linear-gradient(45deg ,rgb(10, 10, 173),rgba(10, 10, 173, 0.479))
}
.header_cat_menu h3{
    color: white;
 
}

.category_menu >ul >li{
    cursor: pointer;
    font-size: 18px;
    transition: all 0.3s ease-in;
    margin: 8px 0;
}

.category_menu >ul >li:hover {
margin-left: 1em;
color: rgba(4, 31, 153, 0.658);
}
